.text {
    color: red;
    border: 2px solid gold;
    margin: 50px auto;
    position: absolute;
    margin-left: 516px;
    z-index: 1;
}


.body {
    display: block;
    margin: 8px;
    height: 800px;
    background-color: burlywood;
}
.image{
    background: url(small.jpg) no-repeat;
    height: 210px;
    width: 300px;
    z-index: 2;
    margin-top: 100px;
    margin-left: 403px;
}
.mybutton1{    width: 200px;
    height: 50px;
    z-index: 4;
    outline: none;
    background-color: salmon;
    cursor: no-drop;
}
.mybutton1:hover{
    background-color: aqua ;
}
.mybutton2{    width: 200px;
    height: 50px;
    z-index: 4;
    outline: none;
    background-color: yellowgreen;
    cursor: text;
}
.mybutton2:hover{
    background-color: aqua ;
}
.mybutton3{    width: 200px;
    height: 50px;
    z-index: 4;
    outline: none;
    background-color: red;
    cursor: alias;
}
.mybutton3:hover{
    background-color: aqua ;
}
.mybutton4{    width: 200px;
    height: 50px;
    z-index: 4;
    outline: none;
    background-color: aquamarine;
   cursor: copy;
}
.mybutton4:hover{
    background-color: aqua ;
}
.mybutton5{    width: 200px;
    height: 50px;
    z-index: 4;
    outline: none;
    background-color: aquamarine;
    cursor: no-drop;
}
.mybutton5:hover{
    background-color: aqua ;
}
.mybutton6{    width: 200px;
    height: 50px;
    z-index: 4;
    outline: none;
    background-color: aquamarine;
   cursor: ne-resize;
}
.mybutton6:hover{
    background-color: aqua ;
}
.mybutton7{    width: 200px;
    height: 50px;
    z-index: 4;
    outline: none;
    background-color: aquamarine;
 cursor: move;
}
.mybutton7:hover{
    background-color: aqua ;
}

.mybutton8{    width: 200px;
    height: 50px;
    z-index: 4;
    outline: none;
    background-color:tan;
    cursor: ns-resize;
}
.mybutton8:hover{
    background-color: aqua ;
}

.mybutton9{    width: 200px;
    height: 50px;
    z-index: 4;
    outline: none;
    background-color: fuchsia;
    cursor: nwse-resize;
}
.mybutton9:hover{
    background-color: aqua ;
}
#wrap {
  margin-right: 10px;
  margin-left: 10px;
}

#menu {
  height:48px;
   background:shadow;
 -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  z-index:2;
}

a:link {color: #4a4a4a; text-decoration:none;}
a:visited {color: #4a4a4a; text-decoration:none; color:inherit;}
a:hover {text-decoration:none;}
a:active {text-decoration:none;}

ul {
  text-align: left;
  display: inline;
  margin: 0;
  padding: 15px 4px 17px 0;
  list-style: none;
}

ul li {
  font: bold 12px/18px sans-serif;
  color: #4a4a4a;
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 15px 20px;
  background: #;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

ul li:hover {
  background: #;
  color: #666;
  opacity:1;
   -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

ul li ul {
  padding: 0;
  position: absolute;
  top: 48px;
  left: 0;
  width: 190px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}

ul li ul li {
  background: #e6e6e6;
  display: block;
  color: #666;
}

ul li ul li:hover {
  margin-top:5px;
  margin-bottom:5px;
 -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);}
ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}

}
#Library {
   background-image: url('sunshine.jpg');
   height: 700px;
   width: 1000px;

}

#Library:hover {
   background-image: url('sunshine.jpg');
}
.text {
    color: red;
    border: 2px solid gold;
    margin: 50px auto;
    position: absolute;
    margin-left: 516px;
    z-index: 1;
}
