*{
margin: 0;
}
html, body {

height:100%;
font: 15px/1.5 Arial, Helvetica, sans-serif;
padding:0;
margin:0;
}
h1, h2, h3, h4, h5, h6, p{
margin-bottom :20pxl
}
nav{
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: rgba(0,0,0,.4);
    z-index: 99;
        text-align: center;
 border-bottom: red 2px  solid;

}
nav a{
text-decoration: none;
    color: #fff;
    margin-left: 30px;
    line-height: 50px;


}
 nav a:hover{

 font-weight:bold;
 }
.sec{
         height: 100%;
         background-size: cover;
         background-repeat: no-repeat;
         background-attachment: fixed;
}
.subSec{
    height:50%;
}
#subSecOne{
height:70%;
}
.secOne{
height: 70%;
background-image: url("picOne.jpg");
text-align: center;
          background-color: rgba(0,0,0,.4);



}

.head{
margin-top:100px;
font-size:55px;
margin-bottom:-400px;
}
#p_sect1{
}
.secTwo{
background-image: url("picTwo.jpg");

}
.secThree{
background-image: url("picThree.jpg");

.subSec{

         background-size: cover;
         background-repeat: no-repeat;


height: 70%;
background-image:url("map.png"):

}

}
#newsletter{
padding: 40px;
color: #ffffff;
background: #35424a;}

#newsletter h1{
float: left;
margin-top:-15px;
}

#newsletter  form{
float:right;
margin-top:-10px;

}
#newsletter input[type= "email"]{
padding: 4px;
height: 20px;
width: 250px;
}

.button_0{
height: 25px;
background:yellow;
border:0;
padding-left: 25px;
padding-right: 20px;
color:#ffffff;
text-align:center;
border-radius:5px;;
}




.button_1{
height: 31px;
background:#e8491d;
border:0;
padding-left: 25px;
padding-right: 20px;
color:#ffffff;
}
#p_sect13{
padding-top: 100px;
color:#ffffff;
font: 85px/1.5 Arial, Helvetica, sans-serif;}
#p_sect1{
padding-top: 100px;
color:#35424a;
font-size:20px;

}
#p_sect11 {
color:#ffffff;
font-size:20px;
color:#35424a;
margin-bottom:20px;
}

#boxes{
margin-top:30px;}

#boxes .box{
float:left;
text-align: center;
width:30%;
padding:15px;
}

#boxes .box img{
width:100px;}

.box h3{
font:bold
}
.button_2{
height: 25px;
background:red;
border:0;
padding-left: 25px;
padding-right: 20px;
color:#ffffff;
text-align:center;
border-radius:5px;
}

.contentTwo{
width:45%;
height:100%;
  background-color: rgba(0,0,0,.4);
  text-align: auto;
  text-color:#ffffff;
padding-top: -40px;
padding-left: 10px;
padding-right: 10px;
padding-bottom:-200px;

}

.contentButton{
align:center
}
.contentTwo h2{
padding-top: 40px;
font-size: 55px;
font:bold;
 color:#ffffff;
text-align:center;

}

.contentTwo p{

padding-top: 30px;
padding-left: 40px;
padding-right: 40px;
font-size:15px;
text-align:left;
color:#ffffff;
}


#subSecThree{
padding: 40px;
 background-color: rgba(0,0,0,.4);}


#subSecThree h1{
float: center;
margin-top:-15px;
}

#subSecThree  form{
float:center;
margin-top:-10px;

}
#subSecThree input[type= "name"]{
padding: 4px;
height: 20px;
width: 250px;
margin-top:-15px;
align: center;
 background-color: rgba(0,0,0,.4);

}
#last{

width:45%;
height:100%;
  background-color: rgba(0,0,0,.2);
  text-align: auto;
  text-color:#ffffff;}

.contentThree h2{
padding-top: 40px;
font-size: 55px;
font:bold;
text-align:center;

}

.contentThree p{

padding-top: 30px;
padding-left: 40px;
padding-right: 40px;
font-size:15px;
text-align:left;
}



footer{
 padding:20px;
 color:#ffffff;
 background-color:#e8491d;
 text-align:center;

 }